.container{
    margin-top: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ai-container{
    padding: 10px;
    text-align: center;
}
.rps-countdown{
    color: #ECEBEB;
    font-size: 60px;
}
.AI-imageBox{
    display: flex;
    padding: 35px 35px;
    margin: 15px auto;
    height: 175px;
    width: 175px;
    background-color: #FFE200;
    border-radius: 15px;
    box-shadow: 7px 7px 10px #00000027;
}
.AI-imageBox > img{
    margin: auto;
}
#ai-choice{
    font-size: 25px;
    font-weight: bold;
}
/* ai section done */
.users-choices{
 text-align: center;
}
.users-choices > h3{
    font-size: 1.7rem;
}
#rps-coices-con{
    display: flex;
    padding: 15px 34px;
    justify-content: space-evenly;
}
.choice-con{
    display: flex;
    background: #FFE200;
    border-radius: 10px;
    box-shadow: 7px 7px 10px #00000027;
    height: 75px;
    width: 75px;
}
.icon{
    height: 45px;
    margin: auto;
}